body {
    background-color: #fcfcfc;
}
#tablecont {
    border: 2px solid #ddd;
}
table, th, td { 
    border: 2px solid #ddd;
}
table {
    border-collapse: collapse;
    width: 935px;
}

thead tr {
    position: sticky;
    top: 0px;
    z-index: 1;
}

th {
    padding: 10px;
    text-align: center;
    background-color: sandybrown;
}

td {
    padding: 10px;
    text-align: left;
}

tr:hover {
    background-color: #ff7f50 !important;
}

tr:nth-child(even) {
    background-color: antiquewhite;
}
tr:nth-child(odd) {
    background-color: #f5f5dc;
}
.superior {
    color: #a0d080;
    background-image:linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(/images/OIP.jpg);
    background-position: left top;
    background-repeat: repeat;
    padding: 15px;
}
.superior h1 {
    text-shadow: 
        -1px -1px 0 #444,  
         1px -1px 0 #444,
        -1px  1px 0 #444,
         1px  1px 0 #444;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mapa {
    position:absolute;
    top: 200px;
    left: 1000px;
    height: 450px;
    width: 900px;
    background-image: url(/images/dinomapa_grid.png);
    background-position: bottom;
    background-size: contain;
    border-style: groove;
    border-color: #444;
    border-width: 4px;
    border-radius: 5px;
}
.mapa div{
    position:absolute;
    padding: 10px;
    max-height: 30px;
    bottom: 460px;
    background-image: url(/images/OIP1.jpg);
    background-size:auto;
    border-radius: 5px;
}
.mapa div p{
    text-align: center;
    font-size: large;
    color: lavenderblush;
    text-shadow: 
        -1px -1px 0 #444,  
         1px -1px 0 #444,
        -1px  1px 0 #444,
         1px  1px 0 #444;
}
.mapa img {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    border-radius: 5px;
}
#tablecont {
    max-height: 750px;
    width: 950px;
    overflow-y: auto;
    display:block;
}
#dieta {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 670px;
    left: 1000px;
    height: 200px;
    width: 200px;
    border-radius: 3px;
    background-image: url(/images/base-ali.png);
    background-position: bottom;
    background-size: contain;
    border-style: groove;
    border-color: #444;
    border-width: 4px;
    border-radius: 3px;
}
.dieta-img {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    border-radius: 3px;
}
.dieta-img-base {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 3px;
}
#d-titulo {
    text-align: center;
    font-size: large;
    color: lavenderblush;
    text-shadow: 
        -1px -1px 0 #444,  
         1px -1px 0 #444,
        -1px  1px 0 #444,
         1px  1px 0 #444;
}