<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Taxonomía</title>
</head>
<body>
    <div class = "superior">
        <h1>Ven a ver tus dinos</h1>
    </div>
    <br>
    <div id = "tablecont">
        <table>
            <thead>
                <tr>
                    <th onclick="Sort(0)">Suborden</th>
                    <th onclick="Sort(1)">Infraorden</th>
                    <th onclick="Sort(2)">Superfamilia</th>
                    <th onclick="Sort(3)">Familia</th>
                    <th onclick="Sort(4)">Genero</th>
                    <th onclick="Sort(5)">Especie</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "esp : ${especies}" th:data-ubicaciones= "${#strings.listJoin(esp.ubicaciones, ',')}" th:data-dieta = "${esp.alimentacion}"class = "dino-row" onclick = "Toggle(this)">
                    <td th:text = "${esp.suborden}"></td>
                    <td th:text = "${esp.infraorden}"></td>
                    <td th:text = "${esp.superfamilia}"></td>
                    <td th:text = "${esp.familia}"></td>
                    <td th:text = "${esp.genero}"></td>
                    <td th:text = "${esp.nombre}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class = "mapa">
        
        <div><p><strong>Ubicaciones conocidas de fósiles:</strong></p></div>
        <img class="ubicacion-img" src="/images/dman.png" id = "dman">
        <img class="ubicacion-img" src="/images/dmca.png" id = "dmca">
        <img class="ubicacion-img" src="/images/dmac.png" id = "dmac">
        <img class="ubicacion-img" src="/images/dmmi.png" id = "dmmi">
        <img class="ubicacion-img" src="/images/dmma.png" id = "dmma">
        <img class="ubicacion-img" src="/images/dmbr.png" id = "dmbr">
        <img class="ubicacion-img" src="/images/dmsm.png" id = "dmsm">
        <img class="ubicacion-img" src="/images/dmlc.png" id = "dmlc">
        <img class="ubicacion-img" src="/images/dmln.png" id = "dmln">
        <img class="ubicacion-img" src="/images/dmbn.png" id = "dmbn">
        <img class="ubicacion-img" src="/images/dmmn.png" id = "dmmn">
        <img class="ubicacion-img" src="/images/dmsu.png" id = "dmsu">
        <img class="ubicacion-img" src="/images/dmat.png" id = "dmat">
        <img class="ubicacion-img" src="/images/dmcf.png" id = "dmcf">
        <img class="ubicacion-img" src="/images/dmch.png" id = "dmch">
        <img class="ubicacion-img" src="/images/dmas.png" id = "dmas">
        <img class="ubicacion-img" src="/images/dmaf.png" id = "dmaf">
        <img class="ubicacion-img" src="/images/dmgu.png" id = "dmgu">
        <img class="ubicacion-img" src="/images/dmpt.png" id = "dmpt">
        <img class="ubicacion-img" src="/images/dmpm.png" id = "dmpm">
        <img class="ubicacion-img" src="/images/dmns.png" id = "dmns">
        <img class="ubicacion-img" src="/images/dmao.png" id = "dmao">
        <img class="ubicacion-img" src="/images/dmnn.png" id = "dmnn">
        <img class="ubicacion-img" src="/images/dmgm.png" id = "dmgm">
        <img class="ubicacion-img" src="/images/dmnc.png" id = "dmnc">
        <img class="ubicacion-img" src="/images/dmsn.png" id = "dmsn">
        <img class="ubicacion-img" src="/images/dmgl.png" id = "dmgl">
        <img class="ubicacion-img" src="/images/dmqb.png" id = "dmqb">
        <img class="ubicacion-img" src="/images/dmtc.png" id = "dmtc">
        <img class="ubicacion-img" src="/images/dmak.png" id = "dmak">
        <img class="ubicacion-img" src="/images/dmcs.png" id = "dmcs">
        <img class="ubicacion-img" src="/images/dmec.png" id = "dmec">
        <img class="ubicacion-img" src="/images/dmsa.png" id = "dmsa">
        <img class="ubicacion-img" src="/images/dmna.png" id = "dmna">
        <img class="ubicacion-img" src="/images/dmgr.png" id = "dmgr">
        <img class="ubicacion-img" src="/images/dmmg.png" id = "dmmg">
        <img class="ubicacion-img" src="/images/dmsk.png" id = "dmsk">
        <img class="ubicacion-img" src="/images/dmtv.png" id = "dmtv">
        <img class="ubicacion-img" src="/images/dmmc.png" id = "dmmc">
        <img class="ubicacion-img" src="/images/dmgs.png" id = "dmgs">
        <img class="ubicacion-img" src="/images/dmam.png" id = "dmam">
        <img class="ubicacion-img" src="/images/dmin.png" id = "dmin">
        <img class="ubicacion-img" src="/images/dmnh.png" id = "dmnh">
        <img class="ubicacion-img" src="/images/dmhc.png" id = "dmhc">
        <img class="ubicacion-img" src="/images/dmdc.png" id = "dmdc">
        <img class="ubicacion-img" src="/images/dmgh.png" id = "dmgh">
        <img class="ubicacion-img" src="/images/dmce.png" id = "dmce">
        <img class="ubicacion-img" src="/images/dmga.png" id = "dmga">
        <img class="ubicacion-img" src="/images/dmib.png" id = "dmib">
        <img class="ubicacion-img" src="/images/dmgb.png" id = "dmgb">
        <img class="ubicacion-img" src="/images/dmir.png" id = "dmir">
        <img class="ubicacion-img" src="/images/dmgi.png" id = "dmgi">
        <img class="ubicacion-img" src="/images/dmyu.png" id = "dmyu">
        <img class="ubicacion-img" src="/images/dmti.png" id = "dmti">
        <img class="ubicacion-img" src="/images/dmsw.png" id = "dmsw">
        <img class="ubicacion-img" src="/images/dmse.png" id = "dmse">
        <img class="ubicacion-img" src="/images/dmeo.png" id = "dmeo">
        <img class="ubicacion-img" src="/images/dmko.png" id = "dmko">
        <img class="ubicacion-img" src="/images/dmjp.png" id = "dmjp">
        <img class="ubicacion-img" src="/images/dmtr.png" id = "dmtr">
    </div>
    <div id = "dieta">
        <img class = "dieta-img" src="/images/carnivoro.png" alt="carnivoro" id="carnivoro">
        <img class = "dieta-img" src="/images/herbivoro.png" alt="herbivoro" id="herbivoro">
        <img class = "dieta-img" src="/images/omnivoro.png" alt="omnivoro" id="omnivoro">
        <h2 id = "d-titulo">Alimentación</h2>
    </div>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>